.Bloc {
    background-color:#097480;
    border:1px solid #9FC6FF;
    padding:20px;
    width: 400px;
    height: 80px;
    /*arrondir les coins en haut à gauche et en bas à droite*/
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25pt;
    color: aliceblue;
    
    }
    

    .BlocUn{
        background-color:#9FC6FF;
        border:1px solid #097480;
        padding:20px;
        width: 400px;
        height: 80px;
        /*arrondir les coins en haut à gauche et en bas à droite*/
        border-radius: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25pt;
        color: aliceblue;
        
        }